[Desktop Entry]
Version=3.0
Name=EduBlocks Desktop
Comment=The ultimate toolkit for learning and experimenting with Python. Works Offline.
Exec=edublocks-desktop
Icon=/usr/share/icons/hicolor/scalable/apps/desktoplogo.png
Terminal=true
Type=Application
Categories=Development

